.classes-page{
    padding: 30px;

    max-width: 1400px;

    margin: 0 auto;
}

.classes-page h1{
    color: black;

    font-size: 28px;

    margin-bottom: 10px;
}

/* GRID */
.classes-grid{
    display: grid;

    grid-template-columns: repeat(3, 320px);

    justify-content: center;

    gap: 24px;

    margin-top: 30px;
}

/* CARD */
.class-card{
    background-color: #1e1e1e;

    width: 320px;

    padding: 24px;

    border-radius: 16px;

    cursor: pointer;

    transition: 0.2s;

    min-height: 190px;

    box-sizing: border-box;

    position: relative;

    border: 2px solid transparent;
}

.class-card:hover{
    transform: scale(1.02);

    border-color: #00cc6a;
}

/* CARD CONFIRMADO */
.confirmed-card{
    background: linear-gradient(
        135deg,
        #1e1e1e,
        #252525
    );

    border: 2px solid #00cc6a;

    box-shadow: 0 4px 15px rgba(0, 204, 106, 0.15);
}

/* selo confirmado */
.confirmed-label{
    position: absolute;

    top: 14px;
    right: 14px;

    background: #00cc6a;

    color: white;

    padding: 6px 10px;

    border-radius: 999px;

    font-size: 12px;

    font-weight: bold;
}

/* título */
.class-card h2{
    color: white;

    margin-bottom: 18px;

    font-size: 22px;
}

/* professor */
.class-card p{
    color: #d9d9d9;

    margin-bottom: 20px;

    font-size: 15px;
}

/* infos */
.class-info{
    display: flex;

    flex-direction: column;

    gap: 12px;

    color: white;

    margin-top: auto;
}

.class-info span{
    background: rgba(255,255,255,0.06);

    padding: 10px 12px;

    border-radius: 10px;

    font-size: 14px;

    transition: 0.2s;
}

.class-info span:hover{
    background: rgba(255,255,255,0.12);
}

/* RESPONSIVO */
@media(max-width: 1100px){

    .classes-grid{
        grid-template-columns: repeat(2, 320px);
    }
}

@media(max-width: 750px){

    .classes-grid{
        grid-template-columns: 1fr;
    }

    .class-card{
        width: 100%;
    }
}