.dashboard{
    margin-top: 10px;
    color: white;
    padding: 20px;
}

.top-section{
    display: flex;
    gap: 20px;
}

.left-side{
    flex: 1;
}

.meta{
    margin-top: 20px;
    color: #333333;
}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
}

.progress{
    width: 100%;
    height: 100%;
    background-color: #89CFF0;
    border-radius: 10px;
}

.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #333333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.next-workout {
    margin-top: 20px;
    background: #333333;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.exercise-list{
    margin-top: 20px;
}

.exercise-list p{
    margin: 8px 0;
}

body{
    background-color: #F5F5F5;
}