.progress-page{
    padding: 30px;

    margin-left: 260px;

    min-height: 100vh;

    background-color: #F5F7FB;
}

/* TÍTULO */

.progress-page h1{
    color: #1e293b;

    font-size: 32px;

    margin-bottom: 10px;
}

/* GRID */

.history-grid{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));

    gap: 24px;

    margin-top: 30px;
}

/* CARD */

.history-card{
    background-color: white;

    padding: 24px;

    border-radius: 20px;

    transition: 0.2s;

    min-height: 180px;

    box-sizing: border-box;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* HOVER */

.history-card:hover{
    transform: translateY(-4px);
}

/* NOME TREINO */

.history-card h3{
    color: #1e293b;

    margin-bottom: 16px;

    font-size: 20px;
}

/* INFOS */

.history-card p{
    color: #64748b;

    margin-bottom: 12px;

    line-height: 1.5;

    font-size: 15px;
}

/* SEM HISTÓRICO */

.empty-history{
    color: #64748b;

    margin-top: 20px;

    font-size: 15px;
}